@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);

*{
    margin: 0;
    padding: 0;
    position: relative;
}

html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #BCAAA4;
}

header{
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header div{
    text-align: center;
    font-size: 50px;
}

main{
    height: 60%;
    width: 100%;
}

footer{
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.setup{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.setup-block{
    padding: 3%;
    display: block;
    width: 33%;
    height: 60%;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.block-icon{
    font-size: 100px;
    height: 100px;
    text-align: center;
}

.coffee-icon{
    background-image: url(../img/coffee.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.partners-section {
    border: 2px solid rgba(0, 0, 0, 0.3);
    height: 40%;
    width: 100%;
    background-color: aqua;
    display: flex;
}

.parners-img {
    flex-direction: row;
    justify-content: space-between;
    display: flex;

}

.img {
    height: 180px;
    padding: 3%;
}